---
layout: page
title: Archive
---

<hr>

<!-- Category List -->
{% assign categories = site.posts | map: "categories" | join: "," | split: "," | uniq | sort %}
{% for category in categories %}
  <h2>{{ category }}</h2>
  <ul>
    {% for post in site.posts %}
      {% if post.categories contains category %}
        <li>
          <a href="{{ post.url | relative_url }}">
            {{ post.date | date: "%d %b %y" }} - {{ post.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

{% assign uncategorised = site.posts | where_exp: "p", "p.categories == empty" %}
{% if uncategorised.size > 0 %}
  <h2>Uncategorised</h2>
  <ul>
    {% for post in uncategorised %}
      <li>
        <a href="{{ post.url | relative_url }}">
          {{ post.date | date: "%d %b %y" }} - {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
