---
layout: page
title: Tags
permalink: /tags/
---

<a href="/archive.html">Sort by date</a>

{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}

{% assign sortedtemptags = temptags | split:' ' | sort %}
{%- for temptag in sortedtemptags -%}
  {% assign tagitems = temptag | split: '#' %}
  {%- capture tagname -%}{{ tagitems[0] }}{%- endcapture -%}
  {%- capture tagcount -%}{{ tagitems[1] }}{%- endcapture -%}
  <a href="#{{ tagname | downcase | replace: ' ', '-' }}" style="font-size: {{ 12 + tagcount | plus: 8 }}px; text-decoration: none; color: #0000EE; margin: 4px;">
    {{ tagname | replace: '-', ' ' }}
  </a>
{% endfor %}

<!-- Tag Lists -->
{% for tag in sorted_tags %}
  <h2 id="{{ tag[0] | downcase | replace: ' ', '-' }}">{{ tag[0] }}</h2>
  <ul>
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.date | date: "%d %b %Y" }} - {{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
